# Core dependencies
faiss-cpu
jsonlines
tqdm
PyYAML
pydantic
numpy
openai
pysbd
rank_bm25

# NLP
jieba
nltk
rouge
rouge-chinese

# Ollama
ollama

# LangChain (for chunking)
langchain-experimental
langchain_ollama
langchain-text-splitters

# LlamaIndex (for retrieval)
llama-index-core
llama-index-retrievers-bm25
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-postprocessor-flag-embedding-reranker
