# Core dependencies
jsonlines
tqdm
PyYAML
pydantic
numpy
openai
pysbd
pyserini

# NLP
rouge
rouge-chinese

# Ollama
ollama

# LangChain (for chunking)
langchain-text-splitters

# LlamaIndex (for retrieval)
llama-index-core
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-postprocessor-flag-embedding-reranker

# For Reranker
accelerate
datasets
scikit-learn
sentencepiece
sentence-transformers
torch
transformers
peft
protobuf
